<p align="center">
  <img src="../Images/datasafari-logo-primary.png" width="300">
</p>

---

# **Session 3**

# **Working with Data in Python (NumPy & Pandas)**

**About the session:** This session is general intoduction of NumPy and Pandas for data handling, including importing and structuring data, inspecting DataFrames, feature selection, and basic cleaning and manipulation.

## üéØ Session Objectives
<details>
 <summary> By the end of this session, learner should be able to:</summary>
 
- Create and manipulate NumPy arrays
- Build Pandas Series and DataFrames from Python data structures
- Load data from CSV/Excel files
- Inspect datasets (shape, types, unique values)
- Handle missing values (drop, fill)
- Remove duplicates and clean data
- Prepare datasets for analysis
</details>

---

## **üåæ NumPy Arrays & Operations (Estimated time: 30 minutes)**

**Scenario:** A Tanzanian agronomist collects soil moisture readings from a 3x3 grid of sensors across a field. Each row of sensors has readings over time, forming a 3√ó3 ""array"". How can we store and manipulate this data efficiently?

<details> 
<summary> ""Array"" üòê! what is it? </summary>

**A NumPy array** 
- Is a special container for numbers (or data) that makes calculations and data analysis easy, efficient perfect for data work!
- in other words, An **array** in NumPy is like a super-powered list that can store lots of numbers (or other data) in a neat, organized way like a table or a grid.

**ndarray**
An ndarray (short for "n-dimensional array") in NumPy is a special container that holds numbers (or data) in a structured way like a list, table, or even a stack of tables.
- If you think of a list of numbers, that's a 1D ndarray.
- If you think of a table with rows and columns (like Excel), that's a 2D ndarray.
- If you imagine a stack of tables, that's a 3D ndarray.
- It lets you store and work with lots of data efficiently, making calculations and analysis much faster and easier than using regular Python lists.
</details>

<details>
<summary> Why use arrays? </summary>
- They let you do math on all the numbers at once (like adding, multiplying, or finding the average), which is much faster than working with regular Python lists.
- Arrays help you organize and analyze data, such as rainfall in different regions or temperatures over time.
</details>

**Example**: Create a 1D array of 12 monthly rainfall values and then reshape it into a 3√ó4 grid (e.g., 3 regions, 4 months):

In [ ]:
# Import numpy library
import numpy as np

In [ ]:
# Create a 1D array representing monthly rainfall data (in mm
rainfall_1d = np.array([120, 90, 85, 100, 150, 130, 160, 140, 110, 95, 80, 105])

In [ ]:
# Print the original array (1D array)
print("Original shape:", rainfall_1d.shape)

In [ ]:
# Reshape to 3 rows and 4 columns
rainfall_grid1 = rainfall_1d.reshape(3, 4)  # 3 rows, 4 columns

In [ ]:
# Print the reshaped array
print("Reshaped (3√ó4):\n", rainfall_grid)

*Try to reshape into **4x4 dimensional array** and observe the results*

In [ ]:
# Complete the code to reshape into 4 rows and 4 columns
rainfall_grid2 = rainfall_1d... # 4 rows, 4 columns

<details>
<summary> What happen after attemping to reshape "rainfall_1d" array into 4x4 dimensinal array? </summary>

- A valid reshape must preserve the total number of elements (here 12 stays 12). If you tried `rainfall_1d.reshape(4, 4)`, NumPy would raise an error because 16‚â†12.
</details>

<details>
<summary>Numpy has built in functions that can be used to perform different data munipulation tasks. Common NumPy functions for data synthesis and manipulation include:</summary>

- `np.array()`‚Äì Create arrays from lists or other data.
- `np.arange()` ‚Äì Create arrays with regularly spaced values (like Python‚Äôs range).
- `np.linspace()` ‚Äì Create arrays with a specified number of evenly spaced values between two numbers.
- `np.zeros()` / `np.ones()` ‚Äì Create arrays filled with zeros or ones.
- `np.random.rand()` / `np.random.randn()` ‚Äì Generate arrays with random values (uniform or normal distribution).
- `np.reshape()` ‚Äì Change the shape of an array without changing its data.
- `np.concatenate()` / `np.vstack()` / `np.hstack()` ‚Äì Combine arrays together.
- `np.sum()`, `np.mean()`, `np.min()`, `np.max()`, `np.std()` ‚Äì Calculate summary statistics.
- `np.sort()` ‚Äì Sort array elements.
- `np.unique()` ‚Äì Find unique values in an array.
- `np.where()` ‚Äì Find indices or filter elements based on a condition.
</details>

<details>
<summary> How to breack down the array elements and access certain data point in an array? is slicing and indexing applicable in Numpy?</summary>

NumPy arrays support slicing and indexing like Python lists, but in multiple dimensions. For instance, `rainfall_grid1[0, 2]` gives the value in row 0, column 2. You can also slice ranges (e.g., `rainfall_grid1[1:, :]` to get all of rows 1 onward).
</details>

*Try slicing and indexing on `rainfall_grid1` Numpy array in the code cell bellow*

In [ ]:
# Gives the value in row 0, column 2
...

In [ ]:
# get all of rows 1 onward
...

 ***Practical task: Create arrays of different shapes and practice indexing and basic operations.***
 - Use different Numpy built in function to create Numpy arrays and perform besic operations
 - Follow the guide in the comments

In [ ]:
# Create a 1D array with 12 elements
# Use np.arange to generate values from 0 to 11
array1d = np.arange(12)

In [ ]:
# Reshape 1D array to 2D array
array2d = array1d.reshape(3, 4)

# Print the reshaped 2D array
print("2D array:\n", ...)

***3D array example***: 
- Suppose you have 2 measurements (e.g. temperature and humidity) for each of 4 villages over 3 days.
- Use Numpy array to create and analyse this data

In [ ]:
# Create a 1D array with 24 elements
# Use np.arange to generate values from 0 to 23
array1d = np.arange(...)

In [ ]:
# Reshape 1D array to 3D array with shape (2, 3, 4)
array3d = array1d.reshape(...) # shape: (2 measurement types, 3 days, 4 villages)

In [ ]:
# Print the reshaped 3D array shape
print("3D array shape:", array3d....) # shape: (2 measurement types, 3 days, 4 villages)

In [ ]:
# Indexing example: get humidity (index 1) on day 2 (index 1) across all villages
humidity_day2 = array3d[1, 1, :]

In [ ]:
# Print the humidity on day 2 across all villages
print("Humidity on day 2 across villages:", humidity_day2)

**Practical Activity:** (15 minutes) On your own machine, create a NumPy array to represent crop yields (in tons) from 5 farms over 6 months. Experiment with reshaping it into different dimensions (e.g., 5√ó6 or 2√ó15) and indexing specific entries (like yield for farm 3 in month 4). Verify that total sum of elements remains the same after reshaping.

---

## **üìö Pandas Series & DataFrame (Estimated time: 30 minutes)**

**Scenario:** A researcher has collected data on student enrollment and performance from several Tanzanian schools. Each row of data includes a student‚Äôs ID, math score, reading score, and whether they attend primary or secondary school. How can we represent and manipulate this tabular data?

- *Can any one recall and explain how is the data represented in **Excel sheet**?*
<details>
<summary> Panda like Excel in Python? can you imagin üòê! </summary>

**Pandas** is a Python library that makes it easy to work with data, especially tables (like in spreadsheets/Excel or databases). 
- It helps to organize, analyze, and clean data using simple commands. 
- With Pandas, you can quickly load data, look at it, fix missing values, and do calculations all in a way that‚Äôs easy to read and understand.
</details>
<details>
<summary> Pandas introduces two core structures: "Series" and "DataFrame"</summary>

* **Series:** A one-dimensional labeled array (like a column in a table).

* **DataFrame:** A two-dimensional table with labeled rows and columns (like in spreadsheet or Excel).
</details>
<details>
<summary> What is the Key difference between the two structure? </summary>

A **Series** is essentially a single column of data with an index. A **DataFrame** is a collection of Series sharing the same index, forming rows and columns. 
- For example, the math scores column of student data would be a Pandas Series. Each column (age, score, etc.) is a Series; 
- The DataFrame itself has both row (student) and column (feature) dimensions.
</details>

Working with Pandas Library

In [ ]:
# Firts you need to install pandas library if not already installed
# !pip install pandas

# Import pandas library
import pandas as pd

In [2]:
# Create a DataFrame from a dictionary
# 
data = {
    'StudentID': [101, 102, 103, 104],
    'MathScore': [80, 72, 90, 88],
    'ReadingScore': [85, 78, 95, 90],
    'SchoolType': ['Primary', 'Primary', 'Secondary', 'Secondary']
}

In [ ]:
# Convert "data" dictionary into a DataFrame
df_students = pd.DataFrame(...)

# Print the DataFrame to see the tabular data
print(...)

- The code above yields a DataFrame with 4 rows and 4 columns.

In [ ]:
# Print the type of the 'MathScore' column
print(type(df_students['MathScore']))  # column is a Series

- Notice that `df_students['MathScore']` is a Pandas Series (1D).

**Example:** Build DataFrames from lists/dicts and check types.

In [ ]:
# Create a Pandas Series from a list (e.g., monthly rainfall)
rain_series = pd.Series([300, 250, 400, 500], index=['Jan', 'Feb', 'Mar', 'Apr'])

In [ ]:
# Print the data in the Series
print("Rainfall Series:\n", ...)

In [ ]:
# Use the type() function to check the type of the Series 
print("Type:", type(...))

In [ ]:
# Create DataFrame from dict (education data example)
edu_data = {
    'School': ['S1', 'S1', 'S2', 'S2'],
    'Grade': [5, 5, 6, 6],
    'AvgScore': [78, 82, 75, 80]
}

In [ ]:
# Convert the dictionary into a DataFrame
df_edu = pd....(...)

In [ ]:
# Print the DataFrame 
print("\nEducation DataFrame:\n", ...)

In [ ]:
# Print the shape of the DataFrame
print("DataFrame shape:", ...) # (rows, columns)

**Practical Activity:** (15 minutes) 
- Create a Pandas DataFrame representing an environmental dataset (for example, tree species and count in several Tanzanian forests). 
- Use a list or dictionary to construct it. Then extract one column as a Series, and verify that it has one dimension. Try `df.info()` to check data types and non-null counts.

---

## **üì• Loading Data (CSV/Excel) with Pandas (Estimated time: 20 minutes)**

**Scenario:** You have received a CSV file from a field survey: it contains crop type, region, and harvest weight for various Tanzanian farms. Now you need to load the file in Python to work with the data.

<details>
<summary> How to load this file into Pandas for analysis? </summary>

**Pandas** makes it easy to load external data. For CSV files, use `pd.read_csv('filename.csv')`; for Excel files, use `pd.read_excel('filename.xlsx')`. These functions return a DataFrame containing the file‚Äôs data. For large datasets, you can also specify parameters (e.g., `usecols`, `dtype`), but basic usage is straightforward:
</details>

**Example**

In [ ]:
# Read CSV file 
try:
    df_soil = pd.read_csv('FILE_PATH_TO_CSV')
    print("Data loaded successfully.")
except FileNotFoundError:
    print("File not found. Please ensure 'soil_quality.csv' is in the correct directory.")

You can similarly load Excel spreadsheets (useful when government data is shared as .xlsx):

In [ ]:
# Example Excel loading (pandas needs openpyxl or xlrd installed)
try:
    df_school = pd.read_excel('../Data/tanzania_school_data.xlsx', sheet_name='Sheet1')
    print("Data loaded successfully.")
except FileNotFoundError:
    print("File not found. Please ensure 'tanzania_school_data.xlsx' is in the correct directory.")

Be mindful of file paths: use quotes around the filename and include the correct extension.

**Practical Activity:** (10 minutes) Imagine you have a dataset *Financial Inclusion in Tanzania* in CSV file. 
- Write code to load it using `pd.read_csv`, 
- Then display the first few rows with `.head()`. 
- Confirm that the loaded file contain the targeted datasets by checking the columns names.

---

## üîç Exploring and Summarizing Data (Estimated time: 30 minutes)

**Scenario:** After loading the Financial Inclusion data, you need to understand the dataset‚Äôs structure. What are the dimensions? What types of data are present? Are there any strange values or typos?


<details>
<summary> How to check the general structure and composition of the loaded data?</summary>

- Check the shape of the DataFrame: `df.shape` gives (rows, columns). 
- The `df.info()` method lists each column with its data type and count of non-null entries, which helps spot missing values. For example, if one column has fewer non-null than another, it hints at missing weights.
- `df.describe()` gives summary statistics for numeric columns (mean, std, min/max, quartiles) and for object (string) columns it shows count, unique, most frequent, etc. This quickly highlights any unexpected values and the spread of data. 
- Check unique values or categories: for a categorical column like ‚Äúregion‚Äù or ‚ÄúSchoolType‚Äù, `df['region'].value_counts()` or `.nunique()` shows how many distinct categories and their frequencies. Value counts help confirm if encoding is consistent 
</details>

**Example exploration:** Simulated ***Soil Quality*** data.
+ Load the `soil_quality` data using Pandas

In [ ]:
# Load the CSV file
soil_quality = ... # pd.read_csv('../Data/soil_quality.csv')

+ Check the first 5 rows and column names to confirm the data

In [ ]:
# Use .head() to check the first 5 rows and column names
soil_quality... # .head(5)

+ Check dimensions, data types, and key statstics.

In [ ]:
# Check dimensions 
print("\nShape:")
....shape

In [ ]:
# Data information (data types, non-null counts)
print("\nData information:")
soil_quality... # .info()

In [ ]:
# Check key statistics for numeric columns
print("\nDescribe numeric:\n")
soil_quality... # .describe()

In [ ]:
# Check Unique values in 'Location' column
print("\nUnique locations:")
...['Location']... # .unique()

+ Check how many observation was made at each location (station)
  - use `.value_counts()`

In [ ]:
# Value counts at each location
print("Observation at each lake:\n")
...['Location']... # .value_counts()

**Practical Activity:** (15 minutes) Load the *Financial Inclusion data*. 
- Use the Pandas methods (`.shape`, `.info()`, and `.describe()`) to inspect the data
- Look and identify important features that need further investigations e.g., Gender, education level, bank ownership status, etc. 
- Use `.value_counts()` to note the number of records, identify numeric vs text columns, spot any obvious anomalies, and see how many unique categories exist in a categorical column.
---
- ***Task:*** The **Financial Inclusion** data was used in ***AI-Wizards***, recall the important feature that were identified and discused to be important for ML model development with **Orange Data Mining**. Prepare proper names for those features as will be used in the next sections of this session.

----
----
DATA CLEANING AND PREPROCESSING
----

## üéØ Feature Selection (Indexing & Slicing) (Estimated time: 20 minutes)

**Scenario:** Now the *Finatial inclusion data* have been loaded and inspected succefully, as observed the data has a lot of features(Columns) of which not all are needed. Suppose you want to work with and analyze only the few information contained in a specific column.. How can you subset the DataFrame to these rows/columns? Here is where the concept of feature selection comes in, and this is where real life use of slicing and indexing concept applys.

<details>
<summary> Subsetting: How Indexing can return Pandas-series or Pandas-DataFrame?</Summary>

Pandas makes subsetting easy via indexing. To select specific columns, use `df['col']` for a single column (returns a Series) or `df[['col1', 'col2']]` for multiple columns (returns a DataFrame). For example you have Student data loaded in Pandas data as `df_students`. The data has 'StudentID', 'MathScore', 'AvgScore', 'SchoolType' and 'Grade' columns and want to filter out certain columns. 
- `df_students['MathScore']` extracts just the math scores and return  1D array (Series)
- `df_students[['MathScore', 'Grade']]` extract math score and grade and return 2D array (DataFrame)

</details>

<details>
<summary> How to select columns that meet specific criteria/conditions?</summary>

In this case a **boolean indexing** is used. Forexample
- To select only Primary school data, `df_students[df_students['SchoolType']=='Primary']` returns all rows where SchoolType is ‚ÄúPrimary‚Äù (all primary school students). 
- To select only schools and average score of students with grade exactly equal 5, then `df_students[['School','AvgScore']][df_students['Grade'] == 5]` selects grade 5 from columns School and AvgScore.
</details>

<details>
<summary> Slicing rows and column by position and name: .loc and .iloc!</summary>

Pandas also supports `.loc` and `.iloc` for label-based and integer-based indexing.
Use .loc for label-based indexing and .iloc for position-based indexing in Pandas DataFrames and Series.
- `.loc`: Selects rows and columns by their labels (names).
   - Example: `df_students.loc[2, 'MathScore']` selects the value in row with index label 2 and column 'MathScore'. Use when you know the row/column labels.
- `.iloc`: Selects rows and columns by their integer position (like Python lists).
   - Example: `df_students.iloc[2, 1]` selects the value at the third row and second column (0-based index). Use when you want to select by position, not label.
</details>

**Example:** From the loaded `soil_quality` data perform the following:-

- Select only one column the `pH` column
- Explain what is dtype of the resulting output

In [ ]:
# Select the 'pH' column as a Series
ph_data = soil_quality...

In [ ]:
#Print the pH data
...

- Select multiple columns: Filter only `Location` and `pH`
- What is the dtype of resulting output?

In [ ]:
# Select 'Location' and 'pH' columns
ph_location = soil_quality...

In [ ]:
# Print the pH data and its type
...

- Filtering rows by condition (**Boolean indexing**): from the pH scale, select only the Acidic soils

In [ ]:
# Select all rows where pH < 7 (acidic soils)
acidic_soils = ... #soil_quality[soil_quality['pH'] < 7]

In [ ]:
# Print the acidic soils
...

- Slicing rows and column by position (`.iloc`): Select the First 5 rows of 'Location' and 'pH'

In [ ]:
# Select the first 5 rows using .iloc (position-based)
... # first_five_rows = soil_quality.iloc[:5]

In [ ]:
# Print the resulting rows
...

In [ ]:
# Select the first 5 rows of 'Location' and 'pH' columns using .iloc (position-based)
soil_quality.iloc[...:..., [..., ...]]

In [ ]:
#Print the output
...

- Slicing rows and column by names (`.loc`): Select the First 5 rows of 'Location' and 'pH'

In [ ]:
# Select the first 5 rows using .loc (label-based)
first_five_rows_loc = soil_quality... # .loc[:4]

In [ ]:
#Print the output
...

In [ ]:
# Select the first 5 rows of 'Location' and 'pH' columns using .loc (label-based)
soil_quality.loc[:..., [..., ...]]

- Discuss the Key difference between the two methods

---

**Practical Activity:** (10 minutes) *Financial inclusion data feature selection and preparation*
##### ***What features need to be selected?***
<details>
<summary>Problem description: Why is it important to first identify and describe the data science problem in relation to the available datasets?</summary>

It is important to first identify and describe the data science problem in relation to the available datasets because:
- It ensures understand the goal of analysis and what questions needs to be answered.
- It allows to check if the dataset contains the necessary features and enough quality data to solve the problem.
- It helps **selecting relevant features and data needed for the problem, avoiding unnecessary or irrelevant information**.
- It guides data cleaning, transformation, and modeling steps to be focused and efficient.
- It makes communication with stakeholders clearer, as everyone knows what the analysis aims to achieve.
</details>
<details>
<summary>What problem needs to be solved/answere from Tanzania financial inclusion scenario?</summary>

- Imagin if you had a model that could predict or classify whether an individual **does** or **does not** have a **bank account**, what would be its application and for whom?
- In this case the task is to develop a ML model that can help stakeholders to classify individual with and without bank account based different factors
</details>

<details>
<summary>What are some differentiating factors that could help classify individuals between having and not having a bank account?</summary>

- The FinScope Tanzania 2023 dataset has too many (721!) variables to analyze together so we need to choose features and also rename them as they are named using codes.
- Here is where **feature selection** comes in.
- These features can be grouped into two categories, the *Financial factors* and *General demographic factors*.
- For the purpose of this session the features in the table bellow will be selected and used.

|Financial factors|General demographic factors|
|-----------------|---------------------------|
|Employment/salary/pension status|*Age - `c8c`|
|Income source/level - `IncomeMain`|*Gender - `c9`|
|Savings habits - `e_7_n_3`|*Martial status - `c10`|
|Loan borrowing status - `g_2_1_1`|*Educational level - `c11`|
|Financial education - `e_5_2`|*Geographic location - `RU`|
|          |Identification (NIDA) number - `c27__2`|
|          |Smartphone ownership - `c25__1`|
-  Unlike in **Orange Data-mining** tool, in python the target feature `'comm3_1'` which is 'Bank account ownership status' will also be included here for preprocessing, will be excluded later before Traing and test split.

*NOTE:* For detailed explanation of finding the codes of these feature refers to *Session 2* of
[AI Wizards](https://docs.google.com/presentation/d/1ut-eSE56S620Z2JNZ5XzPum8xPF8n6bcarS6nuw1paE/edit?usp=sharing)
</details>

##### ***Selecting and renaming features***
- Make sure Pandas is imported and Load the `FinScope.csv` file if not loaded

In [1]:
# Import pandas if not already imported
import pandas as pd

# Load the `FinScope.csv` file if not loaded
df_finscope = pd.read_csv('../Data/FinScope.csv')

In [2]:
# Display the first few rows of the loaded file to confirm data
print(df_finscope.head())

     SN       reg_name  reg_code  dist_code dist_name  ward_code1 ward_name  \
0  4529         Mwanza        19          7  Misungwi         251     Mondo
1  4245         Kagera        18          7  Missenyi          11   Kakunyu
2  8149          Mbeya        12          3     Kyela         283     Nkuyu
3  6763         Dodoma         1          3    Kongwa         123  Kibaigwa
4  7805  Dar es Salaam         7          2     Ilala         252    Majohe

   ea_code clustertype        c1  ...      SOCIAL_GROUPS  OTHER_FORMAL  \
0        4       Rural  Original  ...  Not SOCIAL_GROUPS  OTHER_FORMAL
1        1       Rural  Original  ...  Not SOCIAL_GROUPS  OTHER_FORMAL
2      301       Urban  Original  ...  Not SOCIAL_GROUPS  OTHER_FORMAL
3      301       Urban  Original  ...  Not SOCIAL_GROUPS  OTHER_FORMAL
4       29       Urban  Original  ...  Not SOCIAL_GROUPS  OTHER_FORMAL

   OVERALL_FORMAL                                        INFORMAL  \
0  OVERALL_FORMAL  INFORMAL incl SACCO AND CMG RISK CONTRIBUTIONS
1  OVERALL_FORMAL  INFORMAL incl SACCO AND CMG RISK CONTRIBUTIONS
2  OVERALL_FORMAL  INFORMAL incl SACCO AND CMG RISK CONTRIBUTIONS
3  OVERALL_FORMAL  INFORMAL incl SACCO AND CMG RISK CONTRIBUTIONS
4  OVERALL_FORMAL  INFORMAL incl SACCO AND CMG RISK CONTRIBUTIONS

                    fasx             overlapx                  IncomeMain  \
0  Other formal non-bank  informal AND formal         Farmers and fishers
1  Other formal non-bank  informal AND formal         Farmers and fishers
2  Other formal non-bank  informal AND formal     Piece work/casual labor
3  Other formal non-bank  informal AND formal  Traders - non-agricultural
4  Other formal non-bank  informal AND formal         Farmers and fishers

              BusO      DEDICATED_FARMER      SMALLHOLDER_FARMER
0              nor  Not Dedicated farmer  Not Smallholder farmer
1              nor  Not Dedicated farmer  Not Smallholder farmer
2              nor  Not Dedicated farmer  Not Smallholder farmer
3  Business owners  Not Dedicated farmer  Not Smallholder farmer
4              nor  Not Dedicated farmer  Not Smallholder farmer

[5 rows x 721 columns]

- Prepare a list of **column names** i.e **variable codes** as shown in the Table above
`columns_names = 'IncomeMain', 'e_7_n_3', 'g_2_1_1', 'e_5_2', 'c8c', 'c9', 'c10', 'c11', 'RU', 'c27__2', 'c25__1', 'comm3_1'`

In [9]:
# Feature codes to select
column_names = ['IncomeMain', 'e_7_n_3', 'g_2_1_1', 'e_5_2', 'c8c', 'c9', 'c10', 'c11', 'RU', 'c27__2', 'c25__1', 'comm3_1'] # list of feature codes as shown in the Table above

- Use the created list of `column_names` to extract the data from the loaded data
- This is multiple column indexing for data extraction

In [10]:
# Select the columns using the list of column names
df_selected = df_finscope[column_names]
 # Pass the list of column names

In [11]:
# Display the first few rows of the selected data and comfirm the selection
print(df_selected.head())

                   IncomeMain e_7_n_3 g_2_1_1  e_5_2  c8c      c9  \
0         Farmers and fishers      No     Yes  False   47  Female
1         Farmers and fishers     Yes      No  False   63  Female
2     Piece work/casual labor     Yes     Yes   True   74    Male
3  Traders - non-agricultural     Yes     Yes  False   29  Female
4         Farmers and fishers     Yes     Yes  False   53    Male

                       c10                  c11             RU c27__2 c25__1  \
0  Married/living together         Some primary          Rural     No     No
1                  Widowed  No formal education          Rural     No
2                  Widowed         Some primary    Other urban    Yes     No
3       Divorced/separated         Some primary    Other urban     No     No
4  Married/living together    Primary completed  Dar es Salaam    Yes     No

  comm3_1
0
1
2
3
4

- The coded names are irrelevant and probably difficult to remember or refer
- Rename the coded column names to any name that is relevant to you. You can use modified names in the table below
<details>
<summary>Table: Reference names</summary>

|Financial factors|General demographic factors|
|-----------------|---------------------------|
|Employment/salary/pension status|`c8c` => `Age`|
|`IncomeMain` => `Income_source`|`c9` => `Gender`|
|`e_7_n_3` => `Savings_habits`|`c10` => `Martial_status`|
|`g_2_1_1` => `Borrowing_status`|`c11` => `Educational_level`|
|`e_5_2` => `Financial_education`|`RU` => `Geographical_location`|
|`comm3_1` => `has_bank_account`|`c27__2` => `NIDA_number`|
|          |`c25__1` => `Smartphone_ownership`|

</details>

- Here use `.rename()` method and pass in a dictionary of old names as Key and new names as Values as shown in the code cell below

In [14]:

df_renamed = df_selected.rename(columns={
    'IncomeMain': 'Income_source',
    'e_7_n_3': 'Savings_habits',
    'g_2_1_1': 'Borrowing_status',
    'e_5_2': 'Financial_education',
    'c8c': 'Age',
    'c9': 'Gender',
    'c10': 'Marital_status',
    'c11': 'Educational_level',
    'RU': 'Geographic_location',
    'c27__2': 'NIDA_number',
    'c25__1': 'Smartphone_ownership',
    'comm3_1': 'has_bank_account'
})

In [16]:
# Display the first few rows and confirm the renaming
...

Now investigate the filtered data and selected feature
- Use the Pandas methods (`.shape`, `.info()`, and `.describe(include = 'all')`) to inspect the data
   <details>
   <summary>What is the difference of .describe() and .describe(include = 'all) ?</summary>

   `.describe(include='all')` in Pandas returns summary statistics for all columns in a DataFrame, including both numeric and non-numeric (object, categorical, boolean) types.
   - It shows count, unique values, top (most frequent) value, frequency, mean, std, min, max, and quartiles where applicable.
   - This helps you quickly understand the distribution and characteristics of every column, not just numeric ones.
   </details>
 - Investigate carefull the summary statistics of all features

- Use `.value_counts()` to note the number of records, identify numeric vs text columns, spot any obvious anomalies, and see how many unique categories exist in a categorical column.
  - Then run the `.value_counts()` only on target feature and ***note the counts***

---

## ‚ùì Detecting Missing Data (Estimated time: 15 minutes)

**Scenario:** Real-world data often has missing entries. In a survey, some farmers may have skipped reporting their fertilizer use (NaN values). 

<details>
<summary>How do we detect these gaps?</summary>

Pandas uses `NaN` (and `pd.NA`) to represent missing values. To detect them, use `df.isna()` or `df.isnull()`, which return a boolean DataFrame of the same shape indicating `True` for missing entries. For example, `df[['Nitrogen','pH']].isna().sum()` tells you how many missing in those columns. The DataFrame method `.isna()` flags any `None` or `np.nan` as `True`.

</details>

**Example:** Lets look on the `soil_quality` data
- Load and display the last fow columns of the data

In [ ]:
# Display the first few rows of soil_quality DataFrame
...

- Use `.isna()` to look for Missing values
- Can you count how many missing and in which column?

In [ ]:
# Use .isna() to detect missing values
soil_quality... # .isna()

- For data with few entries and fow column is possible to count
- For many cases and many column manual counting is not practical
- Then use `.isna().sum()`

In [ ]:
# Count missing values in each column
... # .isna().sum()

This step is crucial before cleaning. Knowing which columns have missing data (and how many) guides whether to drop or fill values.

**Practical Activity:** (10 minutes) 
Now from the *Financial inclussion scenario* 
- You ended on selecting a subset of variables and asssigned to `df_renamed`, run `.isna()` and `.isna().sum()` to see which columns contain missing data. 
- Identify if any critical column has missing entries that need handling.

In [ ]:
# Checking for Missing Values
...

In [ ]:
# Count missing values in each column
...

- From the summary abover it shows that all the selected variables has NO missing values
- Run value counts on the `has_bank_account`, again very carefull observation on the counts and **note the difference**

In [ ]:
# value counts for 'has_bank_account' column
df_renamed...


- What do you observe?
   - Is it true that the column contain all the data as needed?
   <details>
   <summary>What does this mean?</summary>

   The first line (8559) corresponds to blank strings (""), not actual NaN values. That‚Äôs why:
   - `df_renamed.isna().sum()` shows 0 missing values (because technically nothing is NaN).
   - But logically, those empty strings should be treated as missing values.
   </details>

   <details>
   <summary>What to do in this situation?</summary>

   - Convert empty strings to NaN so Pandas recognizes them as missing
   - Then `.isna().sum()` will correctly count these as missing
   </details>

In [ ]:
# import numpy library
import numpy as np
...

- Replace empty strings with NaN in columns
- this will fix the issue of only the white space or empyt characters in columns

In [ ]:
# First chech how many empyty space strings are in the column
df_renamed['has_bank_account'].unique()

In [ ]:
# Replace empty strings (' ') with NaN in 'has_bank_account' column
df_replaced = ...replace(' ', np.nan)

In [ ]:
# Check for missing values again
...

This is just one column in the data and only one problem of empyt space. The data contain multiple columns of Object/string, in each of these column probably also contain empyt spaces, special characters, numbers etc, which are not needed.
<details>
<summary>What might be implication of this problem and how to solve it?</summary>

- Special characters often sneak into categorical columns when the dataset was exported/imported (CSV/Excel), or during encoding/renaming. They can cause issues because for example *"One account"*, *"One account "*, and *"One account"* (with a non-breaking space) all look the same but are actually different strings.
- Sometimes the string column might contain mixed of lower and UPPER case characters
- These are just a few to mention, but there are might be other many issues associated with string/object data
- **Dealing with** these issue one by one might be not practical as it require a lot of time and energ. Here is where **Function** comes in.
- Function can automate the process of solving the issue.

</details>

Lets build reusable **cleaning_function** that can be apply to the entire DataFrame (or just one column). The function handles:
- Converting values to strings
- Stripping whitespace (leading/trailing)
- Removing invisible/special characters
- Replacing empty strings with NaN
- Standardize case (e.g., make everything lowercase so "One account" and "ONE ACCOUNT" are treated the same)

In [ ]:
# Function to clean text columns in a DataFrame
def clean_text_columns(df, columns=None, case="lower"):
    
    if columns is None:
        columns = df.select_dtypes(include=['object', 'string']).columns
    
    for col in columns:
        # convert to string and strip spaces
        series = df[col].astype(str).str.strip()
        
        # remove special characters
        series = series.str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
        
        # handle case standardization
        if case == "lower":
            series = series.str.lower()
        elif case == "upper":
            series = series.str.upper()
        elif case == "title":
            series = series.str.title()
        
        # replace empty strings and 'nan' with proper NaN
        df[col] = series.replace({'': np.nan, 'nan': np.nan})
    
    return df

- Use the function above to:
  - Clean only the `'has_bank_account'` column in `df_renamed`
  - Clean all the columns

In [ ]:
# Clean only the 'has_bank_account' column in df_renamed

df_cleaned_single = clean_text_columns(..., ...., ...) # Pass in the function parameters as specified

In [69]:
# Clean all columns in df_renamed

df_cleaned_all = clean_text_columns(df_renamed, columns=None, case="lower")

In [ ]:
# Check for missing values again 
df_cleaned_all.isna().sum()

- How many columns now have missing values?
- Check the counts of uniqe values in each column with missing values

In [ ]:
# Check the counts of unique values in 'Smartphone_ownership' column
df_cleaned_all[...].value_counts(dropna=False)

In [ ]:
# Check the counts of unique values in 'has_bank_account' column
df_cleaned_all...

- Note the counts of each unique values in each column



---

## üõ†Ô∏è Handling Missing Data (dropna & fillna) (Estimated time: 20 minutes)

**Scenario:** Continuing with the fertilizer example, suppose several fields have no recorded nitrogen values. We have choices: remove those records or fill them based on other data. 

<details>
<summary>How to drop and/or filling missing vaules?</summary> 

Pandas provides two common methods:

* `dropna()`: remove rows (or columns) with missing values. By default, `df.dropna()` drops any row containing any NaN. You can specify `subset=[...]` to only look at certain columns, or `axis=1` to drop columns.
* `fillna()`: replace missing values with a specified value or a method (like forward-fill). For example, `df['Nitrogen'].fillna(3.0)` replaces all NaNs in that column with 3.0.

**Example:**

In [ ]:
# Use a clean copy of the DataFrame to prevent modifying the original
df_soil_copy = soil_quality.copy()

In [ ]:
# Drop rows with any missing data
df_cleaned = df_soil_copy.dropna()
print("After dropna:\n", df_cleaned)

In [ ]:
# Or fill missing Nitrogen with the mean
mean_n = df_soil_copy['Nitrogen'].mean()
df_soil_copy['Nitrogen_filled'] = df_soil_copy['Nitrogen'].fillna(mean_n)
print("\nFillNaN with mean:\n", df_soil_copy)

Dropping vs. filling depends on context. If few records are missing, dropping (`dropna()`) might be fine. If many, filling (`fillna()`) can preserve data by imputing values.
<details>
<summary>What are the technical factors to consider when choosing either Dropping or Filling missing values?</summary>

üîπ 1. ***Dropping missing values***: Remove rows (or columns) that contain missing data.

When to drop:

  - If the proportion of missing values is very high in a row/column (e.g., 70%+ missing in a feature, or a row with almost no info).
  - If the dataset is large and losing some rows won‚Äôt harm representativeness.
  - If the missingness looks completely random and won‚Äôt bias results.
  - If the column isn‚Äôt important for your analysis/model.

Downsides:

  - You lose data (reduces sample size).
  - If missingness isn‚Äôt random, you may introduce bias.

üîπ 2. ***Filling (Imputation)***: Replace missing values with substitutes.

When to fill:

  - If the feature is important and you don‚Äôt want to lose it.
  - If the dataset is small and dropping would throw away too much information.
  - If missingness is systematic (e.g., survey skip patterns).

Common imputation methods:

**Simple Fill**

- Numerical: mean, median, mode
  e.g., `df['age'] = df['age'].fillna(df['age'].median())`
- Categorical: mode (most frequent value), constant like "Unknown"
  e.g., `df['has_bank_account'] = df['has_bank_account'].fillna("Unknown")`

**Advanced Imputation**

- KNN imputer (finds similar rows and fills based on neighbors)

- Regression imputation (predicts missing value using other features)

- Multiple Imputation (statistical sampling of plausible values)

**Domain-driven fill**
- Example: If has_bank_account is missing, you might decide it means "No account" instead of dropping it ‚Äî but only if you‚Äôre sure about the survey design.
    <details>
    <summary>üëâ Rule of thumb:</summary>

    - Small dataset ‚Üí Fill (to keep all data you can)
    - Big dataset ‚Üí Drop (if missingness is small and random)
    - Critical variable ‚Üí Fill (never drop)
    - High-missing column ‚Üí Drop (usually useless)
    </details>

</details>

---
**Practical Activity:** (15 minutes) In *Financial inclusion casestudy*, after applying the text cleaning function in all column with missing values:

* Check how many percent of the data are missing in each column

In [ ]:
# Checking % of missing values in each column
df_cleaned_all.isna().mean() * 100

- Check for unique values in columns with missing values

In [ ]:
# Check the counts of unique values in 'Smartphone_ownership' column
df_cleaned_all[...].value_counts(dropna=False)

In [ ]:
# # Check the counts of unique values in 'has_bank_acount' column
df_cleaned_all...

- Which method of dealing with missing values should be adopted in this dataset and why?
- Apply the selected method to to fill in missing values
   <details>
   <summary>Hints</summary>
   
   * Use `df.fillna()` to fill missing values. 
   * For `has_bank_account` missing values, try filling with a placeholder "no account". Show counts of missing values (`.isna().sum()`).
   * For `Smartphone_ownership` replace NAN with the model value in that column
   </details>

In [ ]:
# Create a copy of the cleaned DataFrame to avoid modifying the original
df_cleaned_all_copy = df_cleaned_all.copy()

# Fill missing values in 'Smartphone_ownership' with the mode (most frequent value)
df_cleaned_all_copy['...'] = df_cleaned_all_copy....fillna(df_cleaned_all_copy[...].mode()[0])

In [ ]:
# Check the counts of unique values in 'Smartphone_ownership' column after filling missing values
df_cleaned_all_copy....value_counts(dropna=False)

In [ ]:
# Fill missing values in 'has_bank_account' with the placeholder ('no account')
df_cleaned_all_copy[...] = df_cleaned_all_copy....fillna('no account')

In [ ]:
# Check the counts of unique values in 'has_bank account' column after filling missing values
df_cleaned_all_copy....value_counts(dropna=False)

- Now the Data contain no missing values as well as no special and empty characters. Also all the string values have been converted into lower cases.

---

## üóëÔ∏è Removing Duplicates (Estimated time: 10 minutes)

**Scenario:** In collecting survey data, for example in a formers survey, a farmer might accidentally enter data twice. If the dataset contains duplicate entries for the same farm and date, we should clean them out.

<details>
<summary>How to detect and removing duplicated entries?</summary>

***Detecting duplicated rows***
  - Use `.duplicated()` this will show duplicated rows in the dataframe
  - Use `.duplicated().sum()` to show the number of duplicated rows

***Removing duplicated row***
Pandas‚Äô `drop_duplicates()` helps here. 
  - By default `df.drop_duplicates()` removes any duplicate rows, keeping the first occurrence (you can change `keep='last'` or `keep=False` to drop all copies). 
  - You can also specify a subset of columns to identify duplicates (e.g., `subset=['FarmID','Date']`).
</details>

For example: Look at the Demo simulated data below.

In [81]:
# Example DataFrame with duplicate rows
df_demo = pd.DataFrame({
    'FarmID': [1,1,2,2,2],
    'Date': ['2021-01-01','2021-01-01','2021-02-01','2021-02-01','2021-03-01'],
    'Yield': [100, 100, 150, 150, 200]
})

In [ ]:
# Detect duplicated rows
df_demo... # .duplicated()

In [ ]:
# Show number of duplicated rows
print(...) # df_demo.duplicated().sum()

In [ ]:
# Drop duplicated rows
df_demo = df_demo... # .drop_duplicates(inplace=True)

- This will remove the second identical row for FarmID=1 on 2021-01-01 and similarly for FarmID=2 on 2021-02-01.
---

**Practical Activity: üîß** (30 minutes) 

- Check your dataset for duplicated rows using `df_cleaned_all_copy.duplicated()`. 
- If any are found, decide how to handle them (e.g., keep the first occurrence). 
  - Apply `df.drop_duplicates(inplace=True)` and confirm duplicates are gone with `df.duplicated().sum()`.

In [ ]:
# Check for duplicates 
df_cleaned_all_copy.duplicated()

In [ ]:
# Show number of duplicated rows
print(df_cleaned_all_copy...) # .duplicated().sum()

In [ ]:
# Remove duplicated rows and create a new DataFrame without duplicates
df_final = df_cleaned_all_copy... # .drop_duplicates()

- The data contain no duplicates and ready for futher cleaning process
- Disply summary statistics of all columns in `df_final` include categorical variables. Use `.describe(include = 'all)`

In [ ]:
# Summary statistics of all columns
...

- Inspect carefully the summary statistics table. Pay close attention on 'count', 'unique' and 'top' rows of the table for each variable name.
- How many **unique values** are in `Income_source`, `Marital_status`, `Education_level`, `has_bank_account` and `Geographic_location` columns?

<details>
<summary>What to do for the columns with more than two unique values with the same meaning?</summary>

- Check these columns one by one to investigate what are those unique value. Note the consistency of the values and determine if there is any element of repititions. For example, 'one account', 'two or three account' and 'more than three account' are different values but for the purpose of this case they mean the same.
- There for instead of four unique values in `has_bank_account` column, the values should be maped into two values of 'yes' for having bank acccount and 'no' for not having bank account.

</details>

In [ ]:
# Check for unique values in categorical columns
df_final.select_dtypes(include=['object', 'category']).nunique()

In [ ]:
# Check the 'have_bank_account' to investigate what are those unique value
df_final['...'].unique()

- As you can see there are four unique value, three of them means have bank account
- Map the value into `yes` and `no`

In [ ]:
# Use .replace() to map the values into 'yes' and 'no'

df_final['has_bank_account'] = df_final['has_bank_account'].replace({
    'no account': 'no',
    'one account': 'yes',
    'two or three accounts': 'yes',
    'more than three accounts': 'yes'
})

# Count the unique values again to confirm the mapping
df_cleaned_all_copy['has_bank_account'].value_counts(dropna=False)

In [ ]:
# Check the unique values again to confirm the mapping
df_final['has_bank_account'].unique()

- Repeat the procedure for other categorical variable with redundant values, to map them into meaning unique values
- This stape is very important for further data process towards exploratory data analysis (EDA) and model development

---
---

## üßë‚Äçüíª Capstone Project: Cleaning & Preparing Census Income Data in Pandas (40 minutes)

<details>
<summary>üëâ‚ÄúCan you predict whether an individual earns more than $50,000 per year based on their personal and professional attributes?‚Äù</summary>

Imagine you have just been hired as a data scientist at a government research agency. Your team is studying how personal and professional characteristics ‚Äî like age, education, type of job, and hours worked per week ‚Äî are related to a person‚Äôs income level.

You are given a large dataset from the U.S. Census Bureau. This dataset contains detailed records about thousands of individuals, including their demographic information, work history, and whether they earn more than $50,000 per year or not.

Your mission is to prepare this raw dataset for analysis and prediction. Real-world data is never perfect, so before you can build any predictive models, you must:

- Investigate the dataset to understand what‚Äôs inside

- Fix missing values and messy categories

- Remove duplicates and irrelevant information

- Convert categorical features into machine-readable form

- Select the features most useful for predicting income

By the end of this project, you will have transformed messy census data into a clean, structured dataset ready for machine learning. This work will set the stage for answering the big question: *‚ÄúIs it possible to predict whether an individual earns more than $50,000 per year based on their personal and professional attributes?‚Äù*

</details>

**Dataset**: [Adult Census Income (UCI)](https://archive.ics.uci.edu/dataset/2/adult)

**Goal**: Prepare the dataset so that it‚Äôs ready for machine learning to predict whether a person‚Äôs income exceeds $50K/year.

***Part 1: Load & Explore the Data***

Tasks

1. Load the dataset into Pandas with the correct column names.

2. Print the shape of the dataset (rows, columns).

3. Inspect the first 10 rows.

4. Use `.info()` to see column data types.

5. Use `.describe(include="all")` to explore summary statistics.

Questions

 - How many rows and columns are there?

 - Which columns are numerical vs categorical?

 - What does the target variable (income) look like?

In [ ]:
# Put your code solution here
...

***Part 2: Investigate Data Quality***

Tasks

1. Check for missing values with `.isna().sum().`

2. Explore unique values in categorical columns.

3. Look for "?" or special characters in categorical columns.

4. Check for duplicate rows with `.duplicated().sum().`

Questions

 - Which columns contain missing values (or "?")?

 - Are there strange category values (e.g., extra spaces, symbols)?

 - How many duplicate rows exist?

In [ ]:
# Put your code here
...

***Part 3: Handle Missing Values***

Tasks

1. Replace "?" with NaN.

2. Decide: drop rows/columns or fill missing values.

3. Justify your choice.

Questions

 - What percentage of values are missing per column?

 - For columns with missing data, should you drop or fill? Why?

 - If filling, which method makes sense (mode, median, ‚ÄúUnknown‚Äù)?

In [ ]:
# Show your code solution here

***Part 4: Clean Categorical Data***

Tasks

1. Remove leading/trailing spaces with `.str.strip()`.

2. Standardize text case (e.g., lowercase all values).

3. Fix inconsistencies (e.g., ‚Äúself-emp-not-inc‚Äù vs ‚Äúself-emp-inc‚Äù).

Questions

 - Which columns had inconsistent or messy categories?

 - After cleaning, how many unique categories remain in each column?

In [ ]:
# Solution for handle Missing Values
...

***Part 5: Handle Duplicates***

Tasks

1. Count duplicates.

2. Drop them if necessary.

Questions

 - How many duplicates were found?

 - Does dropping them reduce dataset size significantly?

In [ ]:
# Solution for handle duplicates
...

***Part 6: Feature Selection***

Tasks

1. Discuss which columns may not be useful for predicting income (e.g., fnlwgt).

2. Drop irrelevant columns.

Questions (Write your answers in markdown cells)

- What does fnlwgt represent? Should it be used?

- Which features are most likely to influence income?

In [ ]:
# Solution
...

---

<p align="center">
  <img src="../Images/datasafari-logo-primary.png" width="300">
</p>